@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

.nav-item{
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;

}
.custom-header {
    color:#774936;
    background-color: white;
    font-size: 32px;
    font-family: 'Crimson Text', serif;
    font-weight: 6px;
    font-family: 'Ephesis', cursive;
}

.titlemain{
font-family: 'Twinkle Star', cursive;
font-size: 82px;
color:#603a28;
background-color: #EDC4B3;
text-align: center;
font-weight: 10px;
}